body {
    margin: 0;
    padding: 0;
    background-image: url(./fondo.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    font-family: Arial, sans-serif;
    height: 100vh; /* Ajusta el tamaño del cuerpo al 100% de la ventana gráfica */
    display: flex; /* Usa un modelo de caja flexible */
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido */
}

.login-container {
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
}

.logo {
    position: absolute;
    top: -150px; /* Ajusta la posición vertical del logo */
    left: 50%; /* Centra el logo horizontalmente */
    transform: translateX(-50%);
    z-index: 1; /* Asegura que el logo esté encima del formulario */
}

.logo img {
    width: 200px; /* Ajusta el tamaño de la imagen */
    height: auto;
}

.form-group {
    margin-bottom: 20px;
}

label {
    color: white;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

button {
    width: 100%; /* Haz que el botón ocupe todo el ancho */
    padding: 10px 0; /* Ajusta el relleno vertical */
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

h2 {
    text-align: center; /* Centra horizontalmente el texto */
}